In [9]:
import psycopg2

In [10]:
conn = psycopg2.connect(
    host="my-db.cfikmcisajzo.ap-northeast-1.rds.amazonaws.com",
    port=5432,
    user="postgres",
    password="postgres"
)

In [11]:
conn.autocommit = True

In [5]:
sql_str = "CREATE DATABASE my_db"

In [12]:
cursor = conn.cursor()

In [7]:
cursor.execute(sql_str)

In [ ]:
create_table_sql = """
CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT, 
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, 
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, 
	passenger_count BIGINT, 
	trip_distance FLOAT(53), 
	"RatecodeID" BIGINT, 
	store_and_fwd_flag TEXT, 
	"PULocationID" BIGINT, 
	"DOLocationID" BIGINT, 
	payment_type BIGINT, 
	fare_amount FLOAT(53), 
	extra FLOAT(53), 
	mta_tax FLOAT(53), 
	tip_amount FLOAT(53), 
	tolls_amount FLOAT(53), 
	improvement_surcharge FLOAT(53), 
	total_amount FLOAT(53), 
	congestion_surcharge FLOAT(53)
);
"""

cursor.execute(create_table_sql)

In [25]:
cursor.execute("""
               USE my_db;

               
               """)

SyntaxError: syntax error at or near "USE"
LINE 2:                USE my_db
                       ^

In [22]:
import pandas as pd

pd.read_sql("""
          SELECT datname FROM pg_database;

  
            """, conn)

C:\Users\DangTinh\AppData\Local\Temp\ipykernel_1048\200478313.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""

     datname
0  template0
1  template1
2   postgres
3    init_db
4   rdsadmin
5      my_db